.window {
  border: 6px solid black;
  overflow: auto;

  &__title {
    display: flex;
    padding: 1rem;
    user-select: none;
    text-transform: uppercase;

    .close-btn {
      background: none;
      border: none;
    }
    .drag-handle {
      cursor: move;
    }
  }
  &__content {
    padding: 0 1rem 1rem 1rem;

    a {
      text-decoration: underline;
    }

    img {
      margin-top: 1rem;
      width: 100%;
      border: 6px solid black
    }
  }
}
.spacer { flex:  1; }
